.img-logo {
  margin: 10px 0;
}

.getlink-nav {
  margin: 15px 0;
  list-style: none;
}
.getlink-nav > li {
  display: inline-block;
  padding: 0 1.2em;
}
.getlink-nav > li.active {
  background-color: #28d2af;
  border-radius: 7px;
}
.getlink-nav > li.active > a {
  color: white;
}
.getlink-nav > li > a:hover,
.getlink-nav > li > a:active,
.getlink-nav > li > a:visited {
  text-decoration: none;
}
.getlink-nav > li > a {
  color: #28d2af;
  font-weight: 300;
  font-size: 1.2em;
}
.btn-getlinks {
  background-color: #28d2af;
  color: white;
}
.btn-getlinks:hover,
.btn-getlinks:active,
.btn-getlinks:visited {
  color: white;
}
.caption > h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.img-cover {
  width: 100%;
  height: 10em;
}
.wrapper-card {
  margin-top: 2em;
  margin-bottom: 4em;
  height: 165px;
}
.content-list {
  margin-bottom: 30px;
}
.card {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 5px 19px 0 rgba(0, 0, 0, -50) !important;
  border: 1px solid #e2e2e2;
  transition: all ease-in 300ms;
}

.card:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5), 0 5px 19px 0 rgba(0, 0, 0, -50) !important;
}

.caption > h4 {
  font-size: 1.3em;
  line-height: 1.5em;
  padding: 0 10px;
}
.caption-footer > h4 {
  color: #000;
  border-bottom: 2px solid #28d2af;
  width: 7.2em;
  padding-bottom: 6px;
}
.caption-footer > ul {
  list-style: none;
  padding: 0;
}
.caption-footer > ul > li {
  cursor: pointer;
  transition: all ease-in 300ms;
}

.caption-footer {
  font-weight: 300;
  color: #b9b9b9;
  font-size: 17px;
}

.caption-footer > ul > li:hover {
  color: #28d2af;
}
footer {
  border: 1px solid #28d2af;
  padding: 10px 15px;
}

.fa {
  padding: 5px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  color: #28d2af;
  text-align: center;
  text-decoration: none;
  border-color: #28d2af;
  border-radius: 50%;
  border: 1px solid;
  transition: all ease-in 150ms;
}
.fa:hover {
  background-color: #28d2af;
  color: white;
  text-decoration: none;
}
